<!-- Modal para editar editorial -->
<div class="modal fade" id="editarEditorialModal" tabindex="-1" aria-labelledby="editarEditorialModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarEditorialModalLabel">Editar Editorial</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editar-editorial-form">
                    {% csrf_token %}
                    <input type="hidden" id="editorial-id-editar">
                    <div class="mb-3">
                        <label for="editorial-nombre-editar" class="form-label">Nombre de la Editorial</label>
                        <input type="text" class="form-control" id="editorial-nombre-editar" required>
                        <div class="invalid-feedback">Por favor ingrese un nombre válido</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="actualizarEditorial()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>